* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	height: 100vh;
}

body {
	height: 100vh;
	color: white;
	background: #EBF2F5;
}

body,
input,
button,
textarea {
	line-height: 1.5;
	font: 400 1.8rem "Nunito", sans-serif;
}
